
@{
    ViewBag.Title = "Dashboard";
}

@model WebApplication1.Models.Preview

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
    <script>
     
        function imgOnLoad(element) {
            $(element).closest(".dashboard-thumbl-container").find(".dashboard-thumbl-loading-div").hide(500)
        }
    </script>



    @*<script>
     
        function check() {
            document.getElementById('DL') = function () {
                this.src = this.src;
            }
                }
    </script>*@


</head>

<body id="body">
    <div class="text-center">
        <h2>Dashboard list</h2>
            @*<img src='~/Content/animation/download.gif' id='DL' />*@
            
        
                <div style="position: absolute; left: 30px; right: 30px" class="d-flex flex-wrap" align="center">
                   
                    @{foreach (var item in Model.Dashboards)
                        {
                    <div class="shadow-div dashboard-thumbl-container p-2">
                      
                         
                        
                        <div class="container-overlay">
                            <div class="dashboard-thumbl-loading-div" style="position:absolute; left:0;top:0;right:0;bottom:0; z-index:50;">
                                 <img id="@item.ID" load-src="~/Home/Image/@item.ID" src="~/Content/animation/Rolling.svg" width="450" height="300" alt="@item.ID" />

                            </div>
                             <img id="@item.ID" onload="imgOnLoad(this)" src="~/Home/Image/@item.ID" width="450" height="300" alt=@item.ID style="display:block;"/>
                                
                            <div class="overlay-manage" style="z-index:100" >

                                    <div class="overlay"></div>
                                     <a target="_blank" href="~/Home/Fullscreen?dashboardid=@item.ID&dashboardMode=designer" >
                                        <div id="EditButton" class="overlay-button-top-left" >
                                            <img class="icon" src="~/Content/img/Edit.svg" />
                                        </div>
                                     </a>
                                     <a target="_blank" href="~/Home/Fullscreen?dashboardid=@item.ID&dashboardMode=viewer" style="z-index:100">
                                         <div id="ViewButton" class="overlay-button-top-right">
                                            <img class="icon" src="~/Content/img/View.svg" />
                                        </div>
                                     </a>
                                 </div>
                            </div>
                        
                    </div>
                            }
                        }
                </div>
                   
    </div>
</body>
