
@{
    ViewBag.Title = "Dashboard";
    
}

<h2>Dashboard</h2>
   
@*<div id="#Dashboard" style="position: relative; left: 0; right: 0; top:0; bottom:0;">

    @Html.DevExpress().Dashboard(settings =>
{
    settings.Name = "Dashboard";
    settings.Width = new System.Web.UI.WebControls.Unit("100%");
    settings.Height = new System.Web.UI.WebControls.Unit("850px");
}).GetHtml()
    </div>*@


<div>
    <a target="_blank" href="~/Home/Fullscreen" >
        <img src="~/Content/img/DashPrev1.jpeg" alt="Sample Image" width="500" />
    </a>
</div>