
@{
    ViewBag.Title = "Dashboard";
}

@model WebApplication1.Models.Preview

<head>
</head>
<body id="body">
    <div style="position: absolute; left: 30px; right: 30px" class="d-flex flex-wrap">
    <h2>Dashboard list</h2>
        @{
            foreach (var item in Model.Dashboards)
            {
                var extension = ".png";
                var image = Model.DashboardImagePath + item.ID + extension;
                <a target="_blank" href="~/Home/Fullscreen?dashboardid=@item.ID">
                    <img style="border: 4px double black" src=@image alt=@item.ID />
                </a>
            }
        }
    </div>
</body>